/*  your css code here. If applicable */


#main{
	Background-color: #f5f5f5;
	padding: 30px;
}

.container{
	color: black;
}

.testimonial-1, .testimonial-2{
	background-color: white;
	margin-bottom: 10px;
	padding: 1px;
	padding-left: 10px;
	font-size: 12px;
}

.author{
	text-align: right;
	font-style: italic;
}




